/* GLOBAL START */
html, body {
    font-family: 'Work Sans', sans-serif;
}
a{
    text-decoration: none !important;
}
.title {
    text-align: center;
    margin-bottom: 3rem;
}
.title p::after {
    content: '';
    width: 70px;
    height: 2px;
    background-color: black;
    display: block;
    margin: 20px auto;
}
.title h2{
    font-size: 40px;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 4px;
}
.title p {
    font-size: 17px;
    letter-spacing: 4px;
    text-transform: capitalize;
    color: black;
}
.title--white p {
    color: white;
}
.section {
    padding: 5rem 0;
}
/* GLOBAL END */

/* HEADER START */
.header__top {
    background-color: #ff4f81;
    font-size: 14px;
}
.header__top a {
    text-decoration: none;
    color: white;
    transition: all .5s;
}
.header__right a {
    width: 30px;
    height: 30px;
    background-color: black;
    border: 1px solid black;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    margin-left: 0.25rem;
}
.header__right a:hover {
    background-color: #ff4f81;
    border-color: white;
}

.header__left a:hover {
    color: black !important;
}

.navInstruction a {
    color: black;
}
.navInstruction .navbar-brand p:first-of-type {
    font-weight: bold;
    font-size: 36px;
}
.navInstruction .navbar-brand p:first-of-type i {
    transform: skewX(-10deg);
}
.navInstruction .navbar-brand p:last-of-type {
    font-size: 11px;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: bold;
}
#navbarInstruction .nav-item {
    margin: 0 15px;
}
#navbarInstruction .nav-item::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #ff4f81;
    display: block;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover::after {
    width: 100%;
}
#navbarInstruction .nav-link {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all .5s;
}
#navbarInstruction .nav-item:hover .nav-link{
    color: #ff4f81;
}
#navbarInstruction .nav-item.active .nav-link {
    color: #ff4f81;
}
#navbarInstruction .nav-item.active::after{
    width: 100%;
}
#navbarInstruction .dropdown-menu {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.6);
}
#navbarInstruction .dropdown-item {
    color: white;
    transition: all .5s;
}
#navbarInstruction .dropdown-item:focus, #navbarInstruction .dropdown-item:hover {
    background-color: transparent;
    color: #ff4f81;
}
.navInstruction .navbar-toggler{
    color: #ff4f81;
    background-color: black;
    border-radius: 0px;
}
.navInstruction .navbar-toggler:focus {
    outline: none;
}
/* HEADER END */

/* CAROUSEL START */
#carouselCyber .carousel-caption {
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#carouselCyber .carousel-caption h5 {
    font-size: 52px;
}
#carouselCyber .carousel-caption p {
    letter-spacing: 4px;
    font-weight: 300;
    line-height: 1.8em;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 25px;
}
#carouselCyber .carousel-caption button {
    padding: 11px 20px;
    color: white;
    border: 1px solid white;
    border-radius: 0;
    letter-spacing: 2px;
    font-size: 14px;
    transition: all .5s;
}
#carouselCyber .carousel-caption button:hover {
    background-color: #ff4f81;
    border-color: #ff4f81;
}
#carouselCyber .carousel-control-next, #carouselCyber .carousel-control-prev{
    z-index: 11;
}   
/* WELCOME START */
.welcome__content>p {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
    text-align: center;
    padding: 1rem 0 5rem;
    letter-spacing: 1px;
}
.welcome__item i {
    font-size: 2rem;
}
.welcome__item h3 {
    font-size: 1.8rem;
    color: #ff4f81;
    font-weight: bold;
    margin: 1rem 0;
}
.welcome__item h4 {
    color: black;
    font-weight: bold;
    font-size: 1rem;
    margin: 1rem 0 .2rem;
}
.welcome__item p {
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    margin: 10px 0 0;
    letter-spacing: 1px;
}
.welcome__col {
    padding: 2rem;
}
/* OUR STATS */
.ourStats {
    background-image: url(../img/banner2.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.ourStats__content {
    text-align: center;
    color: white;
}
.ourStats__item i {
    font-size: 2.5rem;
}
.ourStats__item h3 {
    font-size: 1.3rem;
    letter-spacing: 3px;
    font-weight: bold;
    margin: 30px 0 20px;
    color: #ff4f81;
}
.ourStats__item p {
    font-size: 3rem;
    letter-spacing: 2px;
    font-weight: 300;
}
/* OFFER */
.offer__col {
    padding: 15px;
}
.offer__item {
    padding: 25px 40px;
    box-shadow: 0px 1px 8px 0px rgba(158, 158, 158, 0.75);
    text-align: center;
    background-color: white;
    transition: all .5s;
}
.offer__item:hover {
    background-color: #12ccc3;
}
.offer__item i {
    color: #ff4f81;
    font-size: 40px;
}
.offer__item h3 {
    font-size: 20px;
    color: black;
    margin: 25px 0 20px;
}
.offer__item p {
    color: #6b6b6b;
    font-size: 14px;
    letter-spacing: .5px;
}
/* FEEDBACK START */
.feedback {
    /* background-image: url(../img/banner3.jpg);
    background-position: center; */
    background: url(../img/banner3.jpg) center;
    background-attachment: fixed;
    background-size: cover;
}
.feedback__content {
    box-shadow: 0px 1px 7px #8e8e8e;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 1rem;
}
.feedback__content .item {
    color: white;
    padding: 1rem;
}
.feedback__top {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.47);
    position: relative;
}
.feedback__top::after {
    content: '';
    border-top: 9px solid rgba(0, 0, 0, 0.47);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    top: 100%;
    left: 32%;
}
.feedback__content .feedback__bottom img {
    width: 28%;
    display: inline-block;
}
.feedback__bottom {
    display: flex;
    justify-content: center;
    width: 55%;
    margin: 2rem auto 0;
}
.feedback__name p {
    margin: 0;
    color: #ff4f81;
}
.feedback__name p:first-child {
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}
.feedback__content .owl-theme .owl-dots .owl-dot span {
    background-color: #ff4f81;
    opacity: 0.5;
}
.feedback__content .owl-theme .owl-dots .owl-dot.active span, .feedback__content .owl-theme .owl-dots .owl-dot:hover span {
    opacity: 1;
}
.feedback__content .owl-theme .owl-dots .owl-dot {
    outline: none;
}
/* NEWS */
.news__content img {
    border: 2px solid #dedede;
}
.news__content h3 {
    font-size: 1.2rem;
    font-weight: bold;
}
.news__content a {
    text-decoration: none;
    color: black;
    letter-spacing: 1px;
    transition: all .5s;
}
.news__content a:hover {
    color: #ff4f81;
}
.news__content h4 {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ff4f81;
    margin: 1rem 0;
}
.news__content p {
    color: #999;
    margin-top: 1rem;
    line-height: 1.8rem;
    font-size: .9rem;
}
.news__content .row:last-of-type {
    margin-top: 5rem;
}
/* MODAL */
#cyberModal img {
    width: 100%;
}
#cyberModal h5 {
    font-size: 29px;
    color: #ff4f81;
    font-weight: bold;
}
#cyberModal p {
    font-size: 14px;
    color: #777;
    line-height: 1.8em;
    padding: 20px 0;
}
#cyberModal .modal-dialog {
    max-width: 600px;
}
/* FOOTER */
footer {
    background-color: #141415;
}
.footer__top h3 {
    font-size: 24px;
    font-weight: bold;
    color: #ff4f81;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}
.footer__top p {    
    color: #8b8b96;
    font-size: 15px;
    line-height: 2em;
    margin-bottom: 2rem;
    letter-spacing: 1px;
}
.footer__top a {
    font-size: 15px;
    color: #8b8b96;
    line-height: 1.5em;
    letter-spacing: 1px;
    transition: all .5s;
}
.footer__top i {
    color: #ff4f81;
    margin-right: 1rem;
}
.footer__top a:hover {
    color: #ffff;
}
.footer__link, .footer__contact {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
}
.footer__contact i{
    width: 32px;
    height: 32px;
    border: 1px solid #4b4b50;
    color: white;
    text-align: center;
    line-height: 32px;
    margin-right: 1rem;
}
.footer__form {
    margin-top: 3rem;
}
.footer__form col-4 {
    margin: 0!important;
    padding: 0!important;
}
.footer__form label {
    font-size: 24px;
    color: #ff4f81;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer__form input {
    padding: 14px;
    border-radius: 0;
    border: none;
    letter-spacing: 1px;
    color: #888888;
    height: auto;

}
.footer__form button{
    background-color: #ff4f81;
    padding: 12px 35px;
    letter-spacing: 1px;
    border-radius: 0;
    color: #fff;
    outline: none;
    transition: all .5s;
}
.footer__bottom{
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    padding: 1rem 0;
    letter-spacing: 1px;
}
.footer__bottom a {
    text-decoration: none;
    color: #ff4f81;
    transition: all 0.5s;
}
.footer__bottom a:hover {
    color: white;
}
/******************************** RESPONSIVE ********************************/
@media screen and (max-width: 1199.98px) {
    /* CAROUSEL */
    #carouselCyber .carousel-caption{
        top: 50%;
    }
    #carouselCyber .carousel-caption h5{
        font-size: 4vw;
    }
    #carouselCyber .carousel-caption p{
        font-size: 1.6vw;
        margin-bottom: 0.5em;
    }
    #carouselCyber .carousel-caption button{
        font-size: 1.5vw;
        padding: 0.8em 1em;
    }
}
@media screen and (max-width:991.98px) {
    /* HEADER */
    .navInstruction .navbar-brand p:first-child{
        /* 3% root */
        font-size: 3vw;
    }
    .navInstruction .navbar-brand p:last-child{
        /* 1.5% root */
        font-size: 1.5vw;
    }
}
@media screen and (max-width:767.98px) {
    /* HEADER */
    #navbarInstruction .navbar-nav{
        background-color: #eee;
        text-align: center;
    }
    #navbarInstruction .dropdown-menu{
        background-color: #e0e1e2;
        border-color: #e0e1e2;
        text-align: center;
    }
    #navbarInstruction .dropdown-item{
        color: black;
    }
}
@media screen and (max-width: 575.98px) {
    /* HEADER */
    .header__left a{
        display: block;
    }
    /* FOOTER */
    .footer__form input,.footer__form button{
        padding: 10px;
        border: 0;
        font-size: 14px;
    }
}
@media screen and (max-width:415px) {
    /* CAROUSEL */
    #carouselCyber{
        height: 250px;
    }
    #carouselCyber .carousel-inner, #carouselCyber .carousel-item, #carouselCyber .carousel-item img{
        height: 100%;
    }
    #carouselCyber .carousel-item img{
        object-fit: cover;
    }

}
@media screen and (max-width:376px) {
    .feedback__bottom{
        width: 100%;
    }
}
@media screen and (max-width:320px) {
    /* CAROUSEL */
    .header__right{
        width: 35%;
        text-align: center;
    }
    .header__right a{
        margin-bottom: 5px;
    }
}
@media screen and (min-width:768px) and (max-width:992px) {
    /* HEADER */
    #navbarInstruction .nav-item{
        margin: 0;
        padding: 0 12px;
    }
    #navbarInstruction .nav-link{
        font-size: 12px;
        padding: 5px;
    }
}
@media screen and (min-width:575px) and (max-width:992px) {
    .feedback__bottom{
        width: 85%;
    }
}